body {
  background-image: url(benjamin_opa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top:0px;
  font-size: calc(0.75em + 3vmin);
  font-style: Helvetica;
  font-weight: 200;
  color: rgba(255,255,255,0.6);
  height: 50px;
  text-align: center;

  
}

.overview {
  background-color: rgba(255,255,255,0.2);
  background-position: relative;
  margin-right: 100;
  margin-left: 20;
  width: 100%;
  height:10%;
  border-radius: 1em;


}

#menu-nav {
  float:left;
  width:10%; height:auto;
  margin:5% 0;
  margin-left: calc(0.75em + 3vmin);
  margin-top: 5%;

}

/* navigation bar */
#navigation-bar {width:100%;}
#navigation-bar ul {margin:0; padding:0; list-style:none; width:100%; border-radius:2em; overflow:hidden;}
#navigation-bar li {float:top; padding:0; margin:0; list-style:none; padding:center; width:100%;}
#navigation-bar a {
  color:#848484; font-size: calc(0.4em + 3vmin); text-decoration:none; text-align:center;
  width:100%;
  padding:20px 0;
  padding-left:0px;
  display:block; position:relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {color: rgba(255,255,255,0.6);

}
/*  #navigation-bar li:first-child a {border-radius:4px 0 0 4px;}
#navigation-bar li:last-child a {border-radius:0 4px 4px 0;}  */
#navigation-bar a:before {
  content:'';
  transition:all .4s ease-in-out;
  position:absolute; right:50%; left:50%; bottom:0;
  display:block;
  height:2px;
  padding-left:0px;
  background-color:rgba(255,255,255,0.6);
} 
#navigation-bar li:hover a:before, #navigation-bar a:hover:before {
  
  right:10; left:10;}
#navigation-bar span {display:block;}

.jumbotron {
  margin-left: 200px;
  margin-top: 50px;

}
.ct-chart {

  height: 70%;
}

.ct-chart-one {

  height: 70%;
}

.ct-chart-two {
  height: 70%;
}

.ct-chart-three {
  height: 70%;
}

.ct.chart-four {
  height: 20%;
}

.ct-chart-five {
  height: 70%;
}

.ct-tooltip {
    position: absolute;
    display: inherit;
    min-width: 10em;
    /*margin-left: 18%;
    margin-top: 12%;*/
    padding: 0px 0px;
    background: rgba(255,255,255,0.6);
    color: #fff;
    text-align: center;
    pointer-events: none;
    z-index: 20;
    transition: opacity .2s linear;
}

.ct-tooltip.left {
   top: 50%;
  right: 50%;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

